.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
.rpc {
  height: 500px;
  width:  500px;
}
body{
  font-family: 'VT323', monospace;
  color: #00ff00;
  background-color: black;
}
.row {
  font-size: 40px;
}